body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
  }
  .navbar{
    border-bottom: 2px;
    display: flex;
    justify-content: space-between;
   
  }
  .head{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .btn{
    width: 50px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 5px;
    padding:10px;
  }
  .txt{
    width:200px;
    height:20px;
    border-radius: 10px;
    
  }
  .nav-img{
    width: 100px;
    height: 100px;
  }
  
  .container {
    width: 60%;
    margin: auto;
    padding-top: 20px;
  }
  
  header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
  }
  
  .profile-details h1 {

    margin: 0;
    font-size: 28px;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  .actions button {
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .actions button:hover {
    background-color: #007bb5;
  }
  
  .stats {
    margin-top: 15px;
    font-size: 14px;
    color: #8e8e8e;
  }
  
  .bio {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .bio a {
    color: #0095f6;
    text-decoration: none;
  }
  
  .highlights {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #dbdbdb;

  }
  
  .highlight {
    text-align: center;
    
    
  }
  
  .highlight-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 8px;
    background-color: red;
  }
  
  .posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .posts img {
    width: 32%;
    margin: 1%;
  }
  